

body {
    background-color: #372f26;
    margin: 0 !important;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0 !important;
  
  
    
  }
  
  
  .container{
    overflow: scroll;
  }
  
  
  body, html{
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos para el menú de navegación fijo */
  .sticky {
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
  
  /* Estilos para la imagen del logotipo */
  .logo-image {
    height: 100px;
    cursor: pointer; 
  }
  
  .blog-text{
    color: #d3c7c8;;
    font-weight: 300;
  }
  
  a {
    text-decoration: none;
    color: inherit; 
  }
  
  /* Estilos para el contenedor del menú de navegación */
  .n-container {
    padding: 1.5rem 1rem; 
    color: white; 
    font-size: 1rem; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    font-weight: 500; 
    
  }
  
  /* Estilos para el contenedor del menú de navegación fijo */
  .sticky .n-container {
    color: whitesmoke; 
    padding: 1rem; 
  }
  
  /* Estilos para el logotipo */
  .n-logo {
    font-weight: bold; 
    cursor: pointer; 
    font-size: 1.4rem; 
  }
  
  /* Estilos para el contenido en el lado derecho */
  .n-right {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 2.5rem; 
    font-size: 0.9rem; 
  }
  
  /* Estilos para el menú de navegación */
  .n-menu {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 2.5rem; 
    font-size: 1.2rem;
    cursor: pointer; 
  
  }
  
  /* Estilos para el botón de contacto */
  .register-button {
    color: white;
    border: 2px solid white;
    background: #7c6f3e; 
    padding: 1rem 9rem; 
    font-size: 1.2rem; 
    text-transform: capitalize; 
    cursor: pointer; 
    margin-right: 60px;
    border-radius: 2px
  }
  .register-button:hover{
    cursor: pointer;
    background-color: #6e633a;
    border: 2px solid #d3c7c8;
  }
  /* Estilos para el contenedor del menú de navegación móvil, ocultar el contenedor */
  .nm-container {
    display: none;
  }
  
  /* Estilos para el contenedor del logotipo */
  .n-logo-container {
    display: flex; 
    align-items: center; 
  }
  
  /* Estilos para el logotipo */
  .n-logo {
    margin-left: 10px; 
  }
  
  /* Media query para pantallas de hasta 1200px de ancho */
  @media (max-width: 1200px) {
    /* Ocultar el contenedor del menú de navegación en pantallas pequeñas */
    .n-container {
        display: none; 
    }
  
    /* Estilos para el contenedor del menú de navegación móvil */
    .nm-container {
        display: block; 
        color: white; 
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
        padding: 1rem; 
        position: relative; 
        cursor: pointer; 
        overflow-y: auto; /* or overflow-y: scroll; */
    }
  
    /* Estilos para el logotipo en el menú de navegación móvil */
    .nm-container > :nth-child(1) {
        font-weight: bold; 
        font-size: 18px; 
    }
  
    /* Estilos para el menú de navegación móvil */
    .nm-menu {
        position: fixed; 
        top: 3.85rem; 
        padding: 3rem 2rem; 
        box-sizing: border-box; 
        left: 0; 
        text-align: center; 
        display: flex;
        background-color: #372f26;
        flex-direction: column; 
        transform: translateX(-150%); 
        transition: all 300ms ease-in-out;
        width: 100%; 
        font-size: 1.2rem; 
        z-index: 99;
        height: calc(100vh - 3.9rem); 
        cursor: pointer; 
        margin-top: 50px;
    }
  
    /* Estilos adicionales para el logotipo en el menú de navegación móvil */
    .n-logo {
        margin-left: 0; 
    }
  
    /* Estilos adicionales para la imagen del logotipo en el menú de navegación móvil */
    .logo-image {
        margin-top: -5%; 
        margin-left: -5%; 
    }
  
    /* Estilos para los enlaces del menú de navegación móvil */
    .nm-menu a {
        margin-bottom: 2rem;
        padding-bottom: 1rem; 
        border-bottom: 1px solid #bcbcac;
        cursor: pointer; 
    }
  
    .nm-menu a:last-child {
       border-bottom: none;
    
    }
  
    
  
    /* Estilos para el botón de contacto en el menú de navegación móvil */
    .m-register-button {
        width: 100%; 
        border: 2px solid white;
        background: #7c6f3e; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        box-sizing: border-box; 
        padding: 1rem 0rem;
        columns: var(--dark-bg);
        color: var(--light-bg); 
    }
  }
  
  .m-register-button:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
  
  /* Estilos de navgación sticky para pantallas grandes y pequeñas */
  .n-wrapper.sticky {
    position: fixed; 
    background-color: #372f26;
    top: 0;
    width: 100%; 
  }
  
  /* Estilos para el contenedor del menú de navegación sticky */
  .n-container.sticky {
    background-color: #372f26;
    padding: 1rem; 
  }
  
  /* Estilos para el menú de navegación móvil sticky */
  .nm-menu.sticky {
    position: fixed; 
    top: 3.85rem; 
    padding: 3rem 2rem; 
  }
  
  /* Estilos generales del cuerpo del documento */
  body {
    margin-top: 0; /* Margen superior */
  }
  
  /* Espacio adicional después del contenedor del menú de navegación sticky */
  .n-wrapper.sticky + * {
    margin-top: 3.9rem; 
  }
  
  /* Media query para pantallas de hasta 1024px de ancho */
  @media (max-width: 1024px) {
    /* Estilos adicionales para el contenedor del menú de navegación */
    .n-wrapper {
        background-color: #372f26;
        width: 100%; 
        position: absolute; 
        z-index: 999; 
        background-size: cover; 
    }
  }
  
  
  @media(max-width:664px){
    /* Estilos para el botón de contacto */
  .register-button {
    color: white;
    border: 2px solid white;
    background: #7c6f3e; 
    padding: 0.5rem 3rem; 
    width: 100%;
    font-size: 1rem; 
    text-transform: capitalize; 
    border-radius: none; 
    cursor: pointer; 
    align-items: center;
    text-align: center;
  }
  }